.DS_Store
node_modules
/dist
# 设计稿不参与
/src/assets/design-draft
# 接口文档不参与
/src/assets/api


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
